{% extends "base.html" %}
{% block title %}
{% if title %}
{{ title }}
{% else %}DaysFlow
{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid pb-2 main_content_container" style="height: 90%">
    <div class="d-flex justify-content-center">
        <h3>Свойства блокнота</h3>
    </div>
    <div class="row"></div> <!-- нужны отступы сверху-->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="d-flex justify-content-start">
                Наименование:
            </div>
        </div>
        <div class="col-md-2">
            <a href="{% url 'edit_notebook_title' pk=notebook.id %}">{{ notebook.title }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="d-flex justify-content-start">
                Дата создания дневника:
            </div>
        </div>
        <div class="col-md-2">
            <a href="#">{{ notebook.created_at }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="d-flex justify-content-start">
                Количество записей:
            </div>
        </div>
        <div class="col-md-2">
            {{ notebook.records_count }}
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'delete_notebook' pk=notebook.id %}" type="button"
           style="width: 50%;" class="btn btn-lg btn-danger ">Удалить блокнот
        </a>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'notebook_records' pk=notebook.id %}" type="button"
           style="width: 50%;" class="btn btn-lg btn-outline-primary ">Назад
        </a>
    </div>

</div>
{% endblock %}