DB_ENGINE='django.db.backends.postgresql_psycopg2'
POSTGRES_DB=daysflow
POSTGRES_USER=dba
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SECRET_KEY = "django-insecure-agy70ashf5p-4-!^t@_5q*6bcexm)kri1mpd7&S^8bb^b@gzdn"
ADMIN_MAIL = 'warhead999@mail.ru'
SERVER_MAIL_USER = 'warhead999@mail.ru'
SERVER_MAIL_PASSWORD = 'Mn5vUjaOwKpaOvc0LuGr'
SERVER_MAIL_HOST = 'smtp.mail.ru'
SERVER_MAIL_PORT = 2525
ADMIN_DEFAULT_PASSWORD = Kristall_123456
TELEGRAM_BOT_TOKEN=7097081380:AAHxLACePsk_pyaDcFEXvd8AuU1QNpBh-R0
REDIS_HOST=redis
REDIS_PORT=6379
CELERY_HOST=celery
CELERY_PORT=6379