body {
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('/static/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color:transparent

}

.row {
  display: flex;
}

.row > div {
  flex: 1;
  background: lightgrey;
  border: 1px solid grey;
}

div.container {
    background-color:transparent !important;
}

.form {
    background-color:transparent !important;
}